body {
    overflow-x: clip;
}

body.active {
    overflow: clip;
}

#main {
    display: flex;
    flex-direction: column;
    gap: var(--main-item-section-gap);
    background-color: var(--main-bgc);
    min-height: 100dvh;
}

#topHeader {
    z-index: calc(infinity);
}

#toc {
    width: 50%;
    min-width: 130px;
    max-width: 300px;
    position: fixed;
    top: var(--top-header-height);
    right: 0;
}
